/* Tareas style */

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Mochiy+Pop+P+One&family=Montserrat:wght@100&family=Orelega+One&family=Raleway:wght@300&family=Roboto:wght@100&family=Ubuntu+Mono:ital@1&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	padding:50px;
}

#gradienteShop{
	background-color: #9fa4c4;
	background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);

}

body {
	background-color: #90d5ec;
	background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
}

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal {
	background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
	border-top: 20px solid #D32F2F;
	color: #fff;
	padding: 50px 0;
	width: 100%;
}

.principal .formulario {
	color: #212121;
	text-align: center;
}

.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}


.principal .formulario input[type=text].error {
	border: 5px solid  black;
	color: red
}

.principal .formulario .boton {
	background: none;
	border: 1px solid #D32F2F;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
}

.principal .formulario .boton:hover {
	border: 1px solid #fff;
}

/* - Tareas - */
.tareas .lista {
	list-style: none;
}

.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
}

.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}

.tareas .lista li a:hover {
	text-decoration: line-through;
}

/*MUSIC STYLE*/

@media screen and (max-width: 1535px) {
	.middle{
		width: 37% !important;
	}
}

@media screen and (max-width: 1374px) {
	.text-box h1 {
		font-size: 40px !important;
	}

	.text-box p {
		font-size: 23px !important;
	}

	.middle{
		width: 35% !important;
		top: 17% !important;
	}
}

@media screen and (max-width: 1270px) {
	.middle{
		width: 33% !important;
		top: 17% !important;
	}
}

@media screen and (max-width: 1170px) {
	.middle{
		width: 31% !important;
		top: 17% !important;
	}
}

@media screen and (max-width: 1115px) {
  .left {
    width: 100% !important; 
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .audio {
  	max-width: 300px;
  }

  .right {
  	width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .container {
  	max-width: 600px;
  }

  .massPause {
  	margin-right: 20% !important;
  }

  .container {
		height:200px !important;
	}

	.middle {
		display: none !important;
	}

}

@media screen and (max-height: 665px) {
	.content {
		padding-top: 0em !important;
	}

	.audio {
	margin: 30px auto !important;
	}

	footer {
  	position: static !important;
  	flex-shrink: 0 !important;
  	padding-top: 7%;
  	padding-left: 10px;
  	padding-bottom: 10px;
  	float: left!important;
  }

  .modal-content {
  	margin: 6% auto !important;
  	font-size: 15px;
  }
}

@media screen and (max-width: 850px) {
	.modal-content {
	  width: 60% !important; 
	}
}

@media screen and (max-width: 700px) {
  .text-box h1 {
		font-size: 32px !important;
	}

	.text-box p {
		font-size: 18px !important;
	}

	.txtb, h3{
		font-size: 16px !important;
	}

	.task {
		font-size: 15px !important;
	}

}

.header button {
	border: none;
	text-transform: uppercase;
	font-weight: bolder;
	margin-right: 25px;
	margin-top: 15px;
	padding: 10px;
	font-size: 16px;
	position: relative;
	float: right;
	cursor: pointer;
}

.header button::after {
	content:'';
	width:0%;
	height:2px;
	background:#44806c;
	display: block;
	margin: auto;
	transition:0.4s;
}

.header button:hover::after {
	width: 100%;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: white ;
  margin: 10% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 40%; 
}

.modal-content a {
	color: black;
}

.modal-content p, .modal-content h2, .modal-content a, .modal-content span{
	background-color: white !important;
}

.close {
  color: #aaa;
  float: right;
  top: 5px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content {
	padding: 2em;
}

.left {
	position: relative;
	float: left;
	height:100%;
	width: 30%;
	margin-left: 2%;
	display: block;
	padding: 10px;
}

.middle {
	position: absolute;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	top: 15%;
}

.illustration {
	width: 100%;
}

.text-box{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width:500px;
	text-align: center;
}

.text-box h1 {
	font-size: 54px;
}

.text-box p {
	font-size: 26px;
}

.container {
	width:90%;
	height:300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	overflow-y: overlay;
}


.txtb{
	width:93%;
	border:none;
	border-bottom: 2px solid #000;
	padding:10px;
	background:none;
	font-size: 18px;
}


h3 {
	margin: 10px 0;
}

.task {
	max-width:92%;
	background: rgba(255,255,255,.5);
	padding: 12px;
	margin:5px 0;
/*	overflow:hidden;*/
overflow-wrap: break-word;
}

.task i{
	float: right;
	margin-left: 20px;
	background-color:transparent;
}

.fas:hover{
	cursor: pointer;
}

.comp .task {
	background: rgba(0,0,0,.5);
	color:#fff;
}

.right{
	margin-right: 4%;
	float: right;
}

.audio {
	margin: 36px auto;
	width: 100%;
}

.audio span {
	align-items: center;
	display:flex;
	margin: 10px;
}

.audio button {
	appearance:auto;
	height:15px;
	width:15px;
	cursor:pointer;
	border:none;
	background:transparent;
	background-size: 15px;
}

.unpressed button {
	background-image:url(https://img.icons8.com/android/24/000000/play.png);
}

.pressed button {
	background-image: url(https://img.icons8.com/android/24/000000/pause.png);
}

.volume-control {
	background-image: url(https://img.icons8.com/material-rounded/24/000000/no-audio--v2.png);
	background-size:16px;
	height:16px;
	width:16px;
	display:flex;
	margin-right: 5px;
}

.muted {
	background-image: url(https://img.icons8.com/material-rounded/24/000000/no-audio--v1.png);
}

.vol-control {
 	-webkit-appearance: none;
 	width:250px;
 	height: 2px;
 	border-radius: 5px;  
 	background: #333333;
  position:relative;
  display:flex;
}

.vol-control::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 13px;
	border-radius: 50%; 
	background: #44806c;
	cursor: pointer;
}

.massPause {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: auto;
}

#pauseAll {
	height: 15px;
	width: 15px;
	-webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid #000;
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
}

#pauseAll:checked {
	background-color: #000;
	content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwLjkyMiwxMC45MjIpIHNjYWxlKDAuODczLDAuODczKSI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJub256ZXJvIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9ImJ1dHQiIHN0cm9rZS1saW5lam9pbj0ibm9uZSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vbmUiIGZvbnQtc2l6ZT0ibm9uZSIgdGV4dC1hbmNob3I9Im5vbmUiIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTogbm9ybWFsIj48ZyBmaWxsPSIjMDAwMDAwIiBzdHJva2U9IiNmNWY1ZjYiIHN0cm9rZS13aWR0aD0iMjUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0xNTAuNjA3NSwzMy4xNzcxOWMxLjI3NjU2LDIuMjg0MzggMS4xNTU2Myw1LjA3OTM4IC0wLjMyMjUsNy4yNDI4MWwtNjkuMTIyNSwxMDUuNTY1Yy0xLjA3NSwxLjY1MjgxIC0yLjgwODQ0LDIuNzY4MTMgLTQuNzcwMzEsMy4wNjM3NWMtMS45NDg0NCwwLjI4MjE5IC0zLjkzNzE5LC0wLjI4MjE5IC01LjQ0MjE5LC0xLjU1ODc1bC00Ny45NDUsLTQxLjQ5NWMtMi4wOTYyNSwtMS41NDUzMSAtMy4xMzA5NCwtNC4xMjUzMSAtMi43MDA5NCwtNi42OTE4N2MwLjQzLC0yLjU1MzEzIDIuMjcwOTQsLTQuNjQ5MzggNC43NDM0NCwtNS40MTUzMWMyLjQ4NTk0LC0wLjc3OTM4IDUuMTg2ODgsLTAuMDgwNjMgNi45ODc1LDEuNzg3MTlsNDEuOTI1LDM2LjIyNzVsNjQuNzE1LC05OS4wMDc1YzEuMjA5MzgsLTEuOTM1IDMuMzA1NjMsLTMuMTQ0MzcgNS41OSwtMy4yMjVjMi42MDY4OCwtMC4xMjA5NCA1LjA2NTk0LDEuMjM2MjUgNi4zNDI1LDMuNTA3MTl6Ij48L3BhdGg+PC9nPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciI+PC9wYXRoPjxnIGZpbGw9IiNmNWY1ZjUiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWpvaW49Im1pdGVyIj48cGF0aCBkPSJNMTQ0LjI2NSwyOS42N2MtMi4yODQzNywwLjA4MDYzIC00LjM4MDYyLDEuMjkgLTUuNTksMy4yMjVsLTY0LjcxNSw5OS4wMDc1bC00MS45MjUsLTM2LjIyNzVjLTEuODAwNjIsLTEuODY3ODEgLTQuNTAxNTYsLTIuNTY2NTYgLTYuOTg3NSwtMS43ODcxOWMtMi40NzI1LDAuNzY1OTQgLTQuMzEzNDQsMi44NjIxOSAtNC43NDM0NCw1LjQxNTMxYy0wLjQzLDIuNTY2NTYgMC42MDQ2OSw1LjE0NjU2IDIuNzAwOTQsNi42OTE4N2w0Ny45NDUsNDEuNDk1YzEuNTA1LDEuMjc2NTYgMy40OTM3NSwxLjg0MDk0IDUuNDQyMTksMS41NTg3NWMxLjk2MTg4LC0wLjI5NTYyIDMuNjk1MzEsLTEuNDEwOTQgNC43NzAzMSwtMy4wNjM3NWw2OS4xMjI1LC0xMDUuNTY1YzEuNDc4MTMsLTIuMTYzNDQgMS41OTkwNiwtNC45NTg0NCAwLjMyMjUsLTcuMjQyODFjLTEuMjc2NTYsLTIuMjcwOTQgLTMuNzM1NjIsLTMuNjI4MTIgLTYuMzQyNSwtMy41MDcxOXoiPjwvcGF0aD48L2c+PHBhdGggZD0iIiBmaWxsPSJub25lIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciI+PC9wYXRoPjwvZz48L2c+PC9zdmc+);
}

.hidden {
	visibility: hidden;
}

#note {
	font-size: 14px;
}

footer {
	position: absolute;
	bottom: 10px;
  left: 10px;
	color: #000;
	display: block;
	float: right;
	font-size: 15px;
}

footer a {
	color: #000;
}

/*loading*/

#loadingGradiente{
	background-image: url("https://cdn.dribbble.com/users/1698559/screenshots/3790348/___.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

.spinner {
	height: 50px;
	width: max-content;
	font-size: 18px;
	font-weight: 600;
	font-family: monospace;
	letter-spacing: 1em;
	color: #f5f5f5;
	filter: drop-shadow(0 0 10px);
	display: flex;
	justify-content: center;
	align-items: center;
   }
   
   .spinner span {
	animation: loading6454 1.75s ease infinite;
   }
   
   .spinner span:nth-child(2) {
	animation-delay: 0.25s;
   }
   
   .spinner span:nth-child(3) {
	animation-delay: 0.5s;
   }
   
   .spinner span:nth-child(4) {
	animation-delay: 0.75s;
   }
   
   .spinner span:nth-child(5) {
	animation-delay: 1s;
   }
   
   .spinner span:nth-child(6) {
	animation-delay: 1.25s;
   }
   
   .spinner span:nth-child(7) {
	animation-delay: 1.5s;
   }
   
   @keyframes loading6454 {
	0%, 100% {
	 transform: translateY(0);
	}
   
	50% {
	 transform: translateY(-10px);
	}
}

/*CARD*/
.card {
	width: 190px;
	height: 254px;
	padding: .8em;
	background: #f5f5f5;
	position: relative;
	overflow: visible;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
	background-color: #ffcaa6;
	height: 40%;
	width: 100%;
	border-radius: .5rem;
	-webkit-transition: .3s ease;
	transition: .3s ease;
   }
   
   .card-info {
	padding-top: 10%;
   }
   
   svg {
	width: 20px;
	height: 20px;
   }
   
   .card-footer {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	padding-top: 10px;
	border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
	font-weight: 900;
	font-size: 1.2em;
	line-height: 1.5;
   }
   
   .text-body {
	font-size: .9em;
	padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
	border: 1px solid #252525;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: .3em;
	cursor: pointer;
	border-radius: 50px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
	-webkit-transform: translateY(-25%);
		-ms-transform: translateY(-25%);
			transform: translateY(-25%);
	-webkit-box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
			box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
	border: 1px solid #ffcaa6;
	background-color: #ffcaa6;
   }
   